<% include partials/head %>
<body>
  <h1>Про сайт</h1>
  <% include partials/header %>
  <p>
      Автором цього сайту є студент 2 курсу КПІ ім. Ігоря Сікорського ФПМ групи КП-73 Вовченко Дмитро Сергійович.
      Сайт був створений для здачі лабараторної роботи. Iдея для теми була пiдчерпнута з курсової роботи автора.
      Назва ж у свою чергу походить від символу факультуту, на якому навачається автор.
      Цікавий факт, автор дуже довго думав над назвою, поки не порадився зі своїми сусідами в гуртожитку, які зрештою
      і допомогли з назвою.</p>
      А тепер трохи поговоримо про можливості сайту для звичайних користувачів:
        - Наявна можливість реєстрації (зареєстрованим користувачам доступно більше фішок)
        - Користувачі можуть заходити на сторінки фільмів та переглядатиїх
        - Наявна можливість залишати коментарі до фільмів
        - Ви можете додавати фільми до свого персонального списку бажань для того щоб мати швидкий доступ до них
      Якщо ж ви снинете автору трохи готівки на картку 5168 **** **** ****, то автор подумае над тим щоб зробити вас адміном.
      Адміни ж у свою чергу можуть:
        - Додавати та видаляти фільми
        - Мають доступ до списку всіх користувачів
        - Можливість видаляти надто образливі коментарі
        - І просто вони найвищі створіння на цьому сайті
      Контакти автора: dvovc*******13@gmail.com, 38097681****
    Автор бажае вам щасливого користування його творінням.
    P.S. Автор не несе відповідальності за раптові приступи епілепсії, які зв'язані з дизайном сайтую 
  </pre>
  <% include partials/footer %>
