% include partials/head %>
<body>
  <h1>Developer</h1>
  <% include partials/header %>
  <pre>
      developer/v1 - Сторінка документації
      api/v1 - Пуста JSON сторінка
      api/v1/me - Інформація про авторизованого користувача
      api/v1/users - Інформація про користувачів
      api/v1/users?search - Пошук юзера по логіну
      api/v1/users/:id - Інформація про певного користувача
      api/v1/films?page=№ - Сторінка з певними фільмами
      api/v1/films?search - Пошук фільму по назві
      api/v1/films/:id - Інформація про певний фільм
      api/v1/filseries - Інформація про колекції фільмів
      api/v1/filseries/:id - Інформація про колекцію фільмів
  </pre>
  <% include partials/footer %> 