<% include partials/head %>
<body>
  
  <h1>Виникла помилка</h1>
  <p><img src="images/<%=err %>" alt="<%=err %>" height="100" class="err_im"></p>
  <% include partials/header %>
  <% include partials/footer %>