<% include partials/head %>
<body>
  <h1><img src="images/logo.png" alt="Ape-world logo" width="75" height="55" class="leftimg">Свiт приматiв у кiно</h1>
  <p>Сайт призначений для покращення знань автору у сферi веб-розробки.</p>
  
  <img src="images/admin2.jpg" alt="Admin" width="650" height="400" class="ad">
  <% include partials/header %>
  <% include partials/footer %>